---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/?limit=10&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2fb-LaFNGIcaZfdTSPTImjCLsU4NJ7g"
      Function-Execution-Id:
      - qkxpmnphpjku
      X-Cloud-Trace-Context:
      - dfd9909c026f8dab979addde4ceccdd2
      X-Country-Code:
      - US
      X-Orig-Accept-Language:
      - "*"
    body:
      encoding: ASCII-8BIT
      string: '{"count":1302,"next":"https://pokeapi.co/api/v2/pokemon/?offset=10&limit=10","previous":null,"results":[{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon/1/"},{"name":"ivysaur","url":"https://pokeapi.co/api/v2/pokemon/2/"},{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon/3/"},{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon/4/"},{"name":"charmeleon","url":"https://pokeapi.co/api/v2/pokemon/5/"},{"name":"charizard","url":"https://pokeapi.co/api/v2/pokemon/6/"},{"name":"squirtle","url":"https://pokeapi.co/api/v2/pokemon/7/"},{"name":"wartortle","url":"https://pokeapi.co/api/v2/pokemon/8/"},{"name":"blastoise","url":"https://pokeapi.co/api/v2/pokemon/9/"},{"name":"caterpie","url":"https://pokeapi.co/api/v2/pokemon/10/"}]}'
  recorded_at: Sat, 09 Mar 2024 02:37:38 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/bulbasaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ba52-0eqwu9QJV2LgwDuB/BKw4elFJho"
      Function-Execution-Id:
      - y4uzfkabve2h
      X-Cloud-Trace-Context:
      - 2e40cc5a0b09eca0beb9699def2bdf31
      X-Country-Code:
      - US
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"overgrow","url":"https://pokeapi.co/api/v2/ability/65/"},"is_hidden":false,"slot":1},{"ability":{"name":"chlorophyll","url":"https://pokeapi.co/api/v2/ability/34/"},"is_hidden":true,"slot":3}],"base_experience":64,"cries":{"latest":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/1.ogg","legacy":"https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/1.ogg"},"forms":[{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon-form/1/"}],"game_indices":[{"game_index":153,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":153,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":153,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":1,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":1,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":1,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7724-/k5JzaU8lvKp7tK2xZzE9NwSqv4"
      Function-Execution-Id:
      - vp6ag3jz3szj
      X-Cloud-Trace-Context:
      - 4c3d2efcda88e56e653b5963a7d4b19c
      X-Country-Code:
      - US
      X-Orig-A[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/ivysaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3475d-CxLZxeJf32B8p+SW+ftU2rg67IU"
      Function-Execution-Id:
      - wwjfowowbg1m
      X-Cloud-Trace-Context:
      - 0e587a9dbafc327e609474605bed85aa
      X-Country-Code:
      - US
      X-Orig-Ac[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/venusaur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e11a-G2lY+0OGuExI2hPid8lWiZKzYZ4"
      Function-Execution-Id:
      - qwgg1xhs7qwh
      X-Cloud-Trace-Context:
      - 938137d8924546569598a641824bcec2;o=1
      X-Country-Code:
      - US
      X-Or[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/charmander
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41d51-l6GgmJFkLmzX+OattfDssD5mX/0"
      Function-Execution-Id:
      - qwggoovd0m5z
      X-Cloud-Trace-Context:
      - b1eae80f9e8df589b43c2115067a2378;o=1
      X-Country-Code:
      - US
      X-[...]
